#
# For Keil
#
obj/
lst/


#
# For IAR
#
Debug/
Release/
settings/

#
# For GCC
#

!.cproject
!.project
!.ld
!.S

Packages/
version.ini
.lock
.location
.markers
.history/
.mylyn/
.settings/
RemoteSystemsTempFiles/
Samplecode/*/*/GCC/.metadata/.plugins/*
Samplecode/*/*/packages/
Samplecode/*/GCC/.metadata/.plugins/*
Samplecode/*/packages/

org.eclipse.core.resources/*.snap



!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/

!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.core/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.debug.ui/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.e4.workbench/
!Samplecode/*/GCC/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/



#
# For OSX
#
.DS_Store

#
# Files
#
*.log
*.dep
*.bak
*.uvgui.*
*.uvguix.*
*.uvopt
*.uvproj.saved_uv4
*.scvd
*.txt
*.old
*.bin
*.obj
*.orig
*.ok
*~
*.o
*.i
*.lst
*.map
*.d
*.crf
*.axf
*.out
*.pbi
*.cout
*.browse
*.scc
*.ewt

#
# Large stuff
#
*.zip
*.gz
*.bz
*.gzip
*.7z
*.rar

#
# Exception
#
!SampleCode/StdDriver/FMC_IAP/IAR/Release/
!SampleCode/StdDriver/FMC_IAP/IAR/Release/Exe/
!SampleCode/StdDriver/FMC_IAP/IAR/Release/Exe/fmc_ld_iap.bin
!SampleCode/StdDriver/FMC_IAP/KEIL/obj/
!SampleCode/StdDriver/FMC_IAP/KEIL/obj/fmc_ld_iap.bin
!SampleCode/StdDriver/FMC_IAP/GCC/LDROM_iap/LDROM_iap.bin

!SampleCode/RegBased/FMC_IAP/IAR/Release/
!SampleCode/RegBased/FMC_IAP/IAR/Release/Exe/
!SampleCode/RegBased/FMC_IAP/IAR/Release/Exe/fmc_ld_iap.bin
!SampleCode/RegBased/FMC_IAP/KEIL/obj/
!SampleCode/RegBased/FMC_IAP/KEIL/obj/fmc_ld_iap.bin
!SampleCode/RegBased/FMC_IAP/GCC/LDROM_iap/LDROM_iap.bin

